@import './styles/colors.css';
@import './styles/spacing.css';
@import './styles/shadows.css';
@import './styles/typography.css';
@import './styles/components.css';
@import './styles/layout.css';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
